/* 全局样式 */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3e8e41;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  text-align: center;
  margin-top: 50px;
}

/* Win10风格按钮样式 */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  background-color: #3e8e41;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
width: 160px;
  height: 50px;
}


button:hover {
  background-color: #81A68E;
}

button:active {
  background-color: #81A68E;
}

button:disabled {
  background-color: #dcdcdc;
  color: #a0a0a0;
  cursor: not-allowed;
}

.dibu{
font-size: 14px;
color:#3e8e41;
}

    /* 新增百度搜索框样式 */
    .search-container {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
    .baidusearch input[type="text"] {
      width: 300px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px 0 0 4px;
    }
    .baidusearch button {
      width: 80px;
      height: 40px;
      background-color: #4e6ef2;
      color: white;
      border: none;
      border-radius: 0 4px 4px 0;
    }
    /* 新增下拉框样式 */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {background-color: #f1f1f1}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: #81A68E;}
